backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/djangoapp/backendapp/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/*.log
backend/*.pot
backend/.env.prod
backend/.env
db.sqlite3
backend/users/__pycache__/
backend/users/migrations/__pycache__/
backend/users/migrations/*.pyc
backend/users/migrations/*.pyo
backend/users/migrations/*.pyd
backend/routing/__pycache__/
backend/routing/*.pyc
backend/routing/*.pyo
backend/routing/*.pyd

__pycache__/
*.pyc
*.pyo
